<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    
    <title>Reset Password</title>

    <!-- style css -->
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
    
<body>
    <div class="form-wrapper">
        <h1>Set New Password</h1>
        <form method = "post">
            {% csrf_token %}

        {% if messages %}
            {% for msg in messages %}
            <div class="dialogbox">
                <div class="body">
                  <span class="tip tip-left"></span>
                  <div class="message">
                    <span>{{ msg }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
        {% endif %}
        <input type = "hidden" name = "user_id" value = "{{user_id}}">
        
        <div class="form-item">
            <label for="Password"></label>
            <input type="password" name="new_password" required="required" placeholder="New Password">
        </div>
        <div class="form-item">
            <label for="password"></label>
            <input type="password" name="confirm_password" required="required" placeholder="confirm Password">
        </div>
        <div class="button-panel">
            <input type="submit" class="button" title="Save" value="Save">
        </div>
        </form>
    </div>
</body>
</html>