<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    
    <title>Token</title>

    <!-- style css -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>
    
<body>
    <div class="form-wrapper">
        <h1>Token Status</h1>
        
        <h3>
        {% if messages %}
            {% for msg in messages %}
                <div class="dialogbox">
                    <div class="body">
                    <span class="tip tip-left"></span>
                    <div class="message">
                        <span>{{ msg }}</span>
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </h3>
    </div>
</body>
</html>